@model Backend.Models.ViewModels.OfferViewModel

@{
    string YesNo(bool active)
    {
        return active ? "Yes" : "No";
    }

    var random = new Random();
    var photoID = random.Next(1, 11);
    var path = $"/images/photos/test{photoID}.jpg";

}

<div class="details">
    <img src=@path />
    <div class="infoDetails">
        <p>
            Country: &nbsp;&nbsp; @Model.Country.Name
        </p>
        <p>
            City: &nbsp;&nbsp; @Model.City.Name
        </p>
        <p>
            Hotel: &nbsp;&nbsp; @Model.Hotel.Name
        </p>
        <p>
            Price: &nbsp;&nbsp; @Model.Offer.Price
            $
        </p>
        <p>
            Full-board: &nbsp;&nbsp;  @YesNo(Model.Offer.FullBoard)
        </p>
        <p>
            From: &nbsp;&nbsp;  @Model.Offer.DateFrom.ToString("dd.MM.yyy")
        </p>
        <p>
            To: &nbsp;&nbsp; @Model.Offer.DateTo.ToString("dd.MM.yyy")
        </p>

        <div class="details-links">

            <a asp-area="" asp-controller="Hotel" asp-action="Details" asp-route-id=@Model.Hotel.HotelId>Hotel</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Offer" asp-action="Edit" asp-route-id=@Model.Offer.OfferId>Edit</a>
            }
            <a asp-area="" asp-controller="Offer" asp-action="Index" asp-route-page=1>Back to List</a>

        </div>
    </div>


</div>






