@model IEnumerable<Backend.Models.ViewModels.OfferViewModel>

<div id="landing-page">
    <img src="/images/photos/test1.jpg" alt="Hello">
</div>


<div class="query">

    <div class="filter">
        <p>
            Country
        </p>

        <select id="selectCountry" asp-items=@ViewBag.Countries>
            <option>@ViewBag.Country</option>
            @if (@ViewBag.Country != "All")
            {
                <option>All</option>
            }
        </select>
    </div>

    <div class="filter">
        <p>
            Price
        </p>
        <select id="priceOrder">
            <option>@ViewBag.Order</option>
            @if (@ViewBag.Order != "Ascending")
            {
                <option>Ascending</option>
            }
            @if (@ViewBag.Order != "Descending")
            {
                <option>Descending</option>
            }
            @if (@ViewBag.Order != "")
            {
                <option></option>
            }

        </select>
    </div>

     <div class="filter">
        <p>
            From
        </p>

        <select id="selectFrom" asp-items=@ViewBag.CitiesFrom>
            <option>@ViewBag.CityFrom</option>
            @if (@ViewBag.CityFrom != "All")
            {
                <option>All</option>
            }
        </select>
    </div>

     <div class="filter">
        <p>
            To
        </p>
        <select id="selectTo" asp-items=@ViewBag.CitiesTo>>
            <option>@ViewBag.CityTo</option>
            @if (@ViewBag.CityTo != "All")
            {
                <option>All</option>
            }
        </select>
    </div>





    <input id="submit" type="submit" onclick="submitForm()" value="Filter" />


</div>


@foreach (var item in Model)
{
    <partial name="Offer" model=item />
}