@model Backend.Models.ViewModels.OfferViewModel

@{
    var random = new Random();
    var photoID = random.Next(1, 11);
    var path = $"/images/photos/test{photoID}.jpg";
}

<a asp-area="" asp-controller="Offer" asp-action="Details" asp-route-id=@Model.Offer.OfferId>

    <div class="offer">

        <img src=@path>

        <div class="info">

            <p>
                @Model.Country.Name

            </p>
            <p>
                @Model.Hotel.Name
            </p>
            <p>
                @Model.Offer.Price
                $
            </p>
            <p>
                @Model.Offer.DateFrom.ToString("dd.MM.yyy") -
                @Model.Offer.DateTo.ToString("dd.MM.yyy")
            </p>
        </div>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Offer" asp-action="Details" asp-route-id=@Model.Offer.OfferId class="edit">Edit</a>
            }
    </div>

</a>


