@model Backend.Models.ViewModels.OfferViewModel

@{
    string[] files = Directory.GetFiles("wwwroot/images/photos");
    int count = System.IO.Directory.EnumerateFiles("wwwroot/images/photos").Count();
    var random = new Random();
    var photoID = random.Next(1, count);
    var path = files[photoID][7..];
}

<a asp-area="" asp-controller="Offer" asp-action="Details" asp-route-id=@Model.Offer.OfferId>

    <div class="offer">

        <img src=@path>

        <div class="info">

            <p>
                @Model.Country.Name

            </p>
            <p>
                @Model.Hotel.Name
            </p>
            <p>
                @Model.Offer.Price
                $
            </p>
            <p>
                @Model.Offer.DateFrom.ToString("dd.MM.yyy") -
                @Model.Offer.DateTo.ToString("dd.MM.yyy")s
            </p>
        </div>
        <div class="edit-delete">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Offer" asp-action="Edit" asp-route-id=@Model.Offer.OfferId class="edit">Edit</a>
                <a asp-area="" asp-controller="Offer" asp-action="Delete" asp-route-id=@Model.Offer.OfferId class="edit">Delete</a>

            }
        </div>


    </div>

</a>


